@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
/* Font Imported From Google Font */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


/* Styles for Navbar */

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 140px;
}

.site-logo:hover{
    cursor: pointer;
}

.burger-menu{
    display: none;
}

.logo-site-name{
    display: flex;
    align-items: center;
}

.logo-site-name:hover{
    cursor: pointer;
}

.site-title{
    font-size: 2rem;
    color: black;
    font-weight:bold;
    margin-left: 11px;
}

.nav-list{
    display: flex;  
}

.nav-items{
    list-style: none;
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: inherit;
    
}

.nav-item1{
    font-size: 1.25rem;
    font-weight: bold;
    color: orange;
    line-height: 30px;
}

.nav-item2{
    font-size: 1.25rem;
    font-weight: 500;
    color: #01ACFD;
    line-height: 30px;
}

.nav-item3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #05D4DF;
    line-height: 30px;
}

.nav-item4{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;
    line-height: 30px;
}

.orange-btn{
    height: 50px;
    width: 197px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    line-height: 30px;
}
.orange-btn:hover{
    background-color: black;
    cursor: pointer;
}



/* Banner Section Styles */

.empowering-section{
    justify-items: center
}

.empowering-container{
    display: flex;
    align-items: center;
    justify-items: center;
}

.empowering-content{
    width: 640px;
}

.empowering-title{
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    line-height: 61px;
}

.empowering-orange{
    color: orange;
}

.towards-vision-skyblue{
    color: #01ACFD;
}

.empowering-description{
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.black-btn{
    height: 50px;
    width: 197px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 12px;
    line-height: 30px;
}
.black-btn:hover{
    background-color: orange;
    cursor: pointer;
}

.hero-kid-img{
    justify-content: center;
    width: auto;
    margin-left: 85px;

}

/* Standard Curriculum Section Styles */

.standard-curriculum-section{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.st-cl-title{
    text-align: center;
}

.st-cl-title > h2{
    font-size: 2.875rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 80px;
}


.card-container-parent{
    justify-items: center;
}

.sc-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 1250px;
}

.sc-card{
    height: 476.78px;
    width: 367.8px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sc-card1{
    border: 1px solid #DEF5FF;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 30%);
}

.sc-card2{
    border: 1px solid #FFF4DC;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 30%);
}

.sc-card3{
    border: 1px solid #EEE1FF;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 30%);
}

.sc-card-image{
    margin-top: 52px;
}

.sc-card-title{
    font-size: 1.532rem;
    font-weight: bold;
    line-height: 30px;
    color: #202020;
    margin-top: 32px;
}

.sc-card-description{
    font-size: 0.943rem;
    font-weight: 500;
    line-height: 28.3px;
    margin-top: 33.50px;
}

.remo-btn{
    font-size: 0.943rem;
    font-weight: bold;
    line-height: 28.3px;
    margin-top: 34px;
}

.remo-btn > a{
    text-decoration: none;
}

.sc-card1 > .remo-btn > a{
    color: #64C8FF;
}

.sc-card2 > .remo-btn > a{
    color: #F0AA00;
}

.sc-card3 > .remo-btn > a{
    color: #8700FF;
}


/* Two Icons Section Styles */

.two-icons{
    display: flex;
}

.fa-solid{
    background-color: orange;
}


/* Story Section Styles */

.our-story-section {
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(254, 163, 1, 0.3) 100%), 
        url(../assets/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.our-story-title{
    text-align: center;
}

.our-stories{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 80px;
}

.big-story-card{
    width: 540px;
    height: 630px;
    background-color: white;
    border-radius: 16px;
    margin-left: 10px;
}

.big-card-image > img{
    border-radius: 16px 16px 0 0;
}

.big-date-time{
    font-size: 0.959rem;
    padding: 11px 20px;
    font-weight: 500;
    color: #FFFFFF;
    width: 175px;
    background-color: #3CD8E8;
    border-radius: 48px;
    margin-left: 38px;
    position: relative;
    top: -30px;
}

.big-card-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 38.3px;
    width: 402.49px;
    margin-left: 38px;
}

.big-card-description{
    margin-top: 48px;
    font-size: 0.959rem;
    font-weight: 500;
    line-height: 28.8px;
    width: 433.06px;
    color: #666666;
    margin-left: 38px;
}

.story-card{
    background-color: white;
    width: 290px;
    height: 300px;
    border-radius: 16px;
}

.card-image > img{
    border-radius: 16px 16px 0 0;
}

.story-card > .date-time{
    font-size: 0.959rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #95B226;
    width: 175px;
    padding: 9px 19px;
    border-radius: 48px;
    margin-left: 38px;
    position: relative;
    top: -30px;
}

.card-title{
    font-size: 0.959rem;
    font-weight: bold;
    color: black;
    line-height: 28.8px;
    margin-left: 38px;
    margin-top: -15px;
}

.five-card-parent{
    justify-items: center;
}

.story-card-container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.four-story-card{
    width: 600px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    margin-right: 10px;
    gap: 19px;
}

.va-btn{
    display: flex;
    justify-content: center;
}

.view-all-btn{
    margin-top: 80px;
    margin-bottom: 60px;
}


/* Footer Section Design */

.footer{
    height: 520px;
    background-color: #01ACFD;
}

.f-image-title > img{
    height: 82px;
    width: 82px;
}

.f-image-title > h2{
    font-size: 2.634rem;
    color: white;
    width: 206.11px;
    line-height: 90%;
}

.f-image-title{
    display: flex;
}

.ff-section-description > p{
    font-size: 1.25rem;
    font-weight: 400;
    color: white;
    width: 400px;
    line-height: 25px;
    margin-top: 35px;
}

.fs-section-container > h3{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.fs-section-container > ul > li > a{
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.fs-section-container > ul > li{
    margin-bottom: 20px;
    list-style: none;
}

.ft-section-container > h3{
    font-size: 1.625rem;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.footer-section{
    display: flex;
    width: 1200px;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

}



@media screen and (max-width:576px) {

    /* Navbar Styles */

    .navbar{
        flex-direction: column;
        height: 70px;
        border: 1px solid orange;
        margin: 0 0;
    }

    .site-logo{
        width: 46px;
        height: 46px;
        margin-left: 16px;
    }
    
    .nav-list{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .site-title{
        display: none;
    }

    .burger-menu{
        display: block;
    }  


    /* Hero Kid Section Styles */


    .hero-kid-img{
        width: 300px;
        height: 395px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .empowering-container{
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .empowering-title{
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }

    .empowering-description{
        font-size: 0.875rem;
        line-height: normal;
        width: 357px;
        height: 54px;
        text-align: center;
    }

    .black-btn{
        height: 42px;
        width: 150px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 24px;
        background-color: black;
        border: none;
        border-radius: 12px;
        line-height: 30px;
        text-align: center;
        justify-content: center;
    }

    .black-button-container{
        display: flex;
        justify-content: center;
    }

    .empowering-content{
        width: auto;
    }


    /* Standard Curriculum Section Styles */

    .st-cl-title > h2{
        font-size: 1.625rem;
        font-weight: bold;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .sc-card{
        height: 321.28px;
        width: 357px;
        justify-items: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .sc-card-image{
        height: 92px;
        width: 92px;
        margin-top: 20px;
    }

    .sc-card-title{
        font-size: 1rem;
        font-weight: bold;
        line-height: 20px;
        color: #202020;
        margin-top: 10px;
    }

    .sc-card-description{
        font-size: 0.639rem;
        font-weight: 500;
        line-height: 19px;
        margin-top: 22px;
        color: #808080;
        width: 193.81px;
        justify-content: center;
    }

    .sc-cards-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 13px;
        justify-items: center;
        width: 357px;
    }


    /* Our Story Section Styles */

    .our-stories{
        font-size: 1.625rem;
        font-weight: bold;
        line-height: 57.5px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .big-story-card{
        display: none;
    }

    .card-image > img{
        border-radius: 10px 10px 0 0;
        width: 173.27px;
        height: 105.39px;
    }

    .story-card{
        background-color: #FFFFFF;
        width: 173.09px;
        height: 180px;
        border-radius: 10px;
    }

    .story-card > .date-time{
        font-size: 0.571rem;
        font-weight: 500;
        color: #FFFFFF;
        background-color: #95B226;
        width: 118px;
        padding: 9px 19px;
        border-radius: 48px;
        margin-left: 20px;
        position: relative;
        top: -30px;
    }

    .card-title{
        font-size: 0.571rem;
        font-weight: bold;
        color: black;
        line-height: 17.1px;
        margin-left: 22px;
        margin-top: -15px;
    }

    .four-story-card{
        width: 358px;
        height: 380px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
        margin-right: 10px;
        gap: 12px;
    }

    .story-card-container{
        width: 358px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all-btn{
        margin-top: 20px;
        margin-bottom: 40px;
    }


    /* Footer Section Styles */

    .f-image-title > img{
        height: 69px;
        width: 69px;
    }

    .f-image-title > h2{
        font-size: 2.233rem;
        color: white;
        width: 172px;
        line-height: 90%;
    }

    .ff-section-description > p{
        font-size: 1rem;
        font-weight: 400;
        color: white;
        width: 357px;
        line-height: 20px;
        margin-top: 22px;
        margin-bottom: 32px;
    }

    .fs-section-container > h3{
        font-size: 1.272rem;
        font-weight: bold;
        color: white;
        margin-bottom: 27px;
    }

    .fs-section-container > ul > li > a{
        font-size: 1.06rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .fs-section-container > ul > li{
        margin-bottom: 17px;
        list-style: none;
    }

    .fs-section-container > ul{
        margin-bottom: 32px;
    }

    .ft-section-container > h3{
        font-size: 1.377rem;
        font-weight: bold;
        color: white;
        margin-bottom: 37px;
    }

    .sm-icons > a > img{
        width: 33.91px;
        height: 33.91px;
    }

    .ff-section-container{
        margin-left: 20px;
    }

    .fs-section-container{
        margin-left: 20px;
    }

    .ft-section-container{
        margin-left: 20px;
    }


    .footer{
        height: 700px;
        background-color: #01ACFD;
    }

    .footer-section{
        display: flex;
        flex-direction: column;
        /* width: 1200px; */
        justify-content: space-around;
}


}