@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
/* Font Imported From Google Font */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


/* Styles for Navbar */

.navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 140px;
}

.site-logo:hover{
    cursor: pointer;
}

.burger-menu{
    display: none;
}

.logo-site-name{
    display: flex;
    align-items: center;
}

.logo-site-name:hover{
    cursor: pointer;
}

.site-title{
    font-size: 2rem;
    color: black;
    font-weight:bold;
    margin-left: 11px;
}

.nav-list{
    display: flex;  
}

.nav-items{
    list-style: none;
    width: 387px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: inherit;
    
}

.nav-item1{
    font-size: 1.25rem;
    font-weight: bold;
    color: orange;
    line-height: 30px;
}

.nav-item2{
    font-size: 1.25rem;
    font-weight: 500;
    color: skyblue;
    line-height: 30px;
}

.nav-item3{
    font-size: 1.25rem;
    font-weight: 500;
    color: #05D4DF;
    line-height: 30px;
}

.nav-item4{
    font-size: 1.25rem;
    font-weight: 500;
    color: #5D58EF;
    line-height: 30px;
}

.orange-btn{
    height: 50px;
    width: 197px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    line-height: 30px;
}
.orange-btn:hover{
    background-color: black;
    cursor: pointer;
}



/* Banner Section Styles */

.empowering-section{
    justify-items: center
}

.empowering-container{
    display: flex;
    align-items: center;
    justify-items: center;
    /* width: 1250px; */
    /* height: 575px; */
}

.empowering-content{
    width: 640px;
    /* height: 331px; */
}

.empowering-title{
    font-size: 3.5rem;
    color: black;
    font-weight: bold;
    line-height: 61px;
}

.empowering-orange{
    color: orange;
}

.towards-vision-skyblue{
    color: #01ACFD;
}

.empowering-description{
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 24px;
}

.black-btn{
    height: 50px;
    width: 197px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 12px;
    line-height: 30px;
}
.black-btn:hover{
    background-color: orange;
    cursor: pointer;
}

.hero-kid-img{
    justify-content: center;
    width: auto;
    margin-left: 85px;

}

/* Standard Curriculum Section Styles */

.standard-curriculum-section{
    background-image: url(../assets/bg.png);
}

.st-cl-title{
    text-align: center;
}

.st-cl-title > h2{
    font-size: 2.875rem;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 80px;
}

.standard-curriculum-section{
    margin-bottom: 80px;
}

.card-container-parent{
    justify-items: center;
}

.sc-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 1250px;
}

.sc-card{
    height: 476.78px;
    width: 367.8px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sc-card1{
    border: 1px solid #DEF5FF;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #DEF5FF 0%, #FFFFFF 30%);
}

.sc-card2{
    border: 1px solid #FFF4DC;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #FFF4DC 0%, #FFFFFF 30%);
}

.sc-card3{
    border: 1px solid #EEE1FF;
    border-radius: 18.86px;
    background: linear-gradient(180deg, #EEE1FF 0%, #FFFFFF 30%);
}

.sc-card-image{
    margin-top: 52px;
}

.sc-card-title{
    font-size: 1.532rem;
    font-weight: bold;
    line-height: 30px;
    color: #202020;
    margin-top: 32px;
}

.sc-card-description{
    font-size: 0.943rem;
    font-weight: 500;
    line-height: 28.3px;
    margin-top: 33.50px;
}

.remo-btn{
    font-size: 0.943rem;
    font-weight: bold;
    line-height: 28.3px;
    margin-top: 34px;
}

.remo-btn > a{
    text-decoration: none;
}

.sc-card1 > .remo-btn > a{
    color: #64C8FF;
}

.sc-card2 > .remo-btn > a{
    color: #F0AA00;
}

.sc-card3 > .remo-btn > a{
    color: #8700FF;
}








@media screen and (max-width:576px) {

    .navbar{
        height: 70px;
        border: 1px solid orange;
        margin: 0 0;
    }

    .nav-list{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .site-title{
        display: none;
    }

    .burger-menu{
        display: block;
    }  

    .hero-kid-img{
        width: 300px;
        height: 395px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .empowering-container{
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .empowering-title{
        font-size: 2rem;
        line-height: normal;
        text-align: center;
    }

    .empowering-description{
        font-size: 0.875rem;
        line-height: normal;
        width: 357px;
        height: 54px;
        text-align: center;
    }

    .black-btn{
        height: 42px;
        width: 131px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        padding: 24px;
        background-color: black;
        border: none;
        border-radius: 12px;
        line-height: 30px;
        text-align: center;


    }

    .empowering-content{
        width: auto;
    }

}